@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/*html {
  width: 100%;
}*/
body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #bfd8d2;
}

header {
  max-width: 100%;
  margin-bottom: 5px;
  border-bottom: 2px solid #949494;
}

#topContainer {
  text-align: center;
}

#headTitle {
  margin: 0 auto;
  width: 50%;
}

#mainFishImg {
  width: 300px;
  margin: 0 auto;
}

#subHead {
  margin: 0 auto;
  width: 50%;
}

#topNav {
  text-align: center;
  margin-top: 15px;
  height: 20px;
}

#globalNav {
  text-align: justify;
}

#globalNav a {
  display: inline-block;
}

#globalNav:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.navLink:nth-child(1) {
  padding-left: 40px;
}

.navLink:nth-child(4) {
  padding-right: 40px;
}

/*Controls and Fonts*/

h1, h2, h3, p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font size: 15px;
}

h3 {
  font-size: 10px;
}

/*links*/
a:hover {
  color: #318ADE;
}

/*button styles from css tricks.com*/
.button {
   border-top: 1px solid #97a7f7;
   background: #a5d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#539c3e), to(#a5d665));
   background: -webkit-linear-gradient(top, #539c3e, #a5d665);
   background: -moz-linear-gradient(top, #539c3e, #a5d665);
   background: -ms-linear-gradient(top, #539c3e, #a5d665);
   background: -o-linear-gradient(top, #539c3e, #a5d665);
   padding: 10px 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #283978;
   background: #283978;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

select {
  width: 80px;
  font-size: 18px;
}

/* Controls */

.nav {
  margin: 0, auto;
  width: 50%;
  display: block;
}

.nav a {
  margin: 0 10px;
}

#threeColumns {
  margin-top: 20px;
  width: 100%
}

.clearfix {
  overflow: auto;
}

#greeting {
  float: left;
  width: 30%;
  margin: 0 10px 0 10px;
  padding: 5px;
  border: 1px solid #949494;
  border-radius: 10px;
}

#intro {
  padding-bottom: 38px;
}

#featuredCoookie {
  float: right;
  /*display: inline-block;*/
  position: relative;
  width: 30%;
  padding: 5px;
  border: 1px solid #949494;
  border-radius: 10px;
}

#featuredLorem {
  padding-bottom: 35px;
}

#featuredButton {
  position: absolute;
  right: 10px;
  bottom: 9px;
}

#shirtTeaser {
  display: inline-block;
  float: left;
  position: relative;
  width: 30%;
  margin: 0px 10px 0 10px;
  padding: 0 10px 53px 0;
  border: 1px solid #949494;
  border-radius: 10px;
}

#shirtPic {
  display: block;
  margin: 0 auto;
  height: 180px;
  margin-bottom: 26px;
}

#shirtDesc {
  margin-left: 10px;
  margin-bottom: 35px;

}

#shirtButton {
  position: absolute;
  right: 10px;
  bottom: 9px;
  }
}

.shirtSelect {
  poition: absolute;
  right: 40px;
  bottom: 9px;
  margin-left: 85px;
  margin-bottom: 5px;
}

.events {
  width: 100%;
  margin-top: 47px;
  margin-bottom: 100px;
}

.sectionTitle {
  padding-left: 15px;
}


#eventOne {
  position: relative;
  float: left;
  width: 30%;
  margin: 0 20px;
  padding-left: 5px;
  border: 1px solid #949494;
  border-radius: 10px;
}

#eventTwo {
  position: relative;
  float: left;
  width: 30%;
  margin: 0 20px 0 0px;
  padding-left: 5px;
  border: 1px solid #949494;
  border-radius: 10px;

}

#eventThree {
  position: relative;
  display: inline-block;
  width: 30%;
  padding-left: 5px;
  border: 1px solid #949494;
  border-radius: 10px;
}

.learnMore {
  position: absolute;
  right: 10px;
  bottom: 9px;
}

#theGrid {
  width: 100%;
  border-spacing: 0px;
  margin-top: 20px;
  margin-bottom: 70px;
}

#theGrid th, td {
  text-align: left;
  padding: 5px 20px 5px 10px;
  border-spacing: 0px;
  border-top: 1px solid #949494;
}

#ourShops {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ourShops td {
  text-align: center;
  border-left: 2px solid #949494;
  padding-left: 10px;
  padding-right: 76px;
}
#killersTitle {
  text-align: center;
}

#serialKillers {
  display: block;
  margin: 0 auto;
  width: 800px;
}

footer {
  width: 100%;
  border-top: 2px solid #666666;
  /*background-color: #a5eaf4;*/
}
.copyright {
  top: -250px;
}

.socmedia {
  width: 20px;
}
#social {
  float: right;
}

#followSocial {
  margin-right: 20px
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
