header {
  background-color: #a5eaf4;
}

#centeredLogo {
  margin: 0 auto;
}

#mainFishImg {
  width: 350px;
  height: 100px;
}

body{
  background-color: #f6f6f6;
}











footer {
  background-color: #a5eaf4;
}
